<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="eng">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Fortune Teller</h1>
    <form>
        <div>
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="nationality">Nationality:</label>
            <input type="text" id="nationality" name="nat"><br><br>
            <label for="etnicity">Etnicity:</label>
            <input type="text" id="etnicity" name="etn"><br><br>
            <label for="age">Birthdate:</label>
            <input type="age" id="age" name="bd"><br><br>
        </div>

        <div>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label><br>
            <input type="radio" id="other" name="gender" value="other">
            <label for="other">Other</label>
        </div>

        <hr/>

        <input value="Tell my future" type="button">

    </form>

</body>
</html>